.pf-h-row {
  .pf-th {
    .t-col-fake-txt-height {
      height: 37px;
    }
    .t-col-20 {
      width: 20%;
    }
  }
}
.pf-t-links {
  margin-left: 25px;
  .pf-t-link {
    padding: .5rem;
  }
}

