@import '../../../assets/_vars.scss';

.pf-header {
  height: 70px;
  padding: 0;
  background: $dblue1 url("../../../assets/pfLogo.png") no-repeat left;
  background-size: 200px;
}
.pf-sidebar {
  width: 80px;
  background: $dblue2;
  margin-bottom: -8px;
}
.pf-table-area {
  padding: 25px;
  width: calc(100% - 80px);
}
:host ::ng-deep {
  .p-component {
    font-size: 14px;
  }
  .p-checkbox {
    width: 15px;
    height: 15px;
    .p-checkbox-box {
      width: 15px;
      height: 15px;
      .p-checkbox-icon {
        font-size: 10px;
      }
    }
  }
}
